.gr{
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(6, 70px);
    justify-content: center;
}

.grTop{
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(1, 70px);
    justify-content: center;
}
