/* .downArrow {
	width: 0;
	height: 0;

	border-left: 30px solid transparent;
	border-right: 30px solid transparent;

	border-top: 50px solid green;
} */

/* .triangle {
	display: none;
}
.triangle:hover {
	display: block;
} */
