.gr{
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(6, 70px);
    justify-content: center;
}

.grTop{
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(1, 70px);
    justify-content: center;
    /* background-color: grey; */
}

.cellTop{
    border:5px solid white;
    border-radius: 50%;
    outline:  5px solid white;
}

.cell{
    border:5px solid black;
    border-radius: 50%;
    outline:  5px solid black;
}
/* 
.cellTop:hover{
    background-color: rgb(75, 204, 255) ;
} */
